*{
    margin: 0;
    padding: 0;
    font-family: "Gilroy";
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgb(148, 219, 148);
}
#panel{
    overflow: hidden;
    width: 80%;
    height: 80%;
    background-color: #fff;
    border-radius: 10px;
}
#ptop{
    padding: 0px 30%;
    display: flex;
    justify-content: space-between;
    color: #fff;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: rgba(6, 216, 6, 0.878);

}
.elem h2{

    font-weight: 500;
    font-size: 22px;
}
#pbtm{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    padding: 20px;
    width: 100%;
    height: calc(100% - 100px);
    background-color: black;
}
.bubble{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: rgba(158, 13, 169, 0.959);
    border-radius: 50%;
    font-weight: 500;
}
.elem{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
}
.box{
    color: rgba(4, 190, 4, 0.716);
    font-weight: 700;
    font-size: 25px;
    padding: 20px 20px;
    background-color: #fff;
    border-radius: 5px;
}
.bubble:hover{
    background-color: rgb(64, 245, 64);
    cursor: pointer;
}